body {
  margin: 0;
  padding: 0;
  background-color: #e9ebed;
  font-family:  helvetica;
  }

#barra{
  height: 43px;
  background-color: #5066ae;
  position: fixed;
  left: 0;
  right: 0;
  }

#contingut{
  margin: 0 auto;
  width: 852px;
  height: 20000px;
  background-color: #e9ebed;
  }

#contingut #cap{
  height: 358px;
  background-color: white;
  background-image: url(img.png);
  background-repeat: no-repeat;
  border: 1px solid #DDD;
  border-radius: 3px;

  }

#contingut #cap img{
  position: relative;
  top: 300px;
  left: 21px;
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: 2px 2px 2px #666666;
  }

#contingut #cap h2{
  position: relative;
  top: 70px;
  left: 230px;
  color: white;
  text-shadow: 2px 2px 2px #666666;
  }


#contingut #menu{
  height: 43px;
  background-color: grey;
  width: 534px;
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  top: 74px;
  }

li{
  float: left;
  margin: 0 0 0 1px;
  list-style-type: none;
  background-color: grey;
  display: block;
  height: 43px;
  padding: 0 25px;
  line-height: 43px;

}

#principal {

}


.esquerra {
 background-color: white;
 border-radius: 3px;
 border: solid 1px #DDD;
 width: 322px;
 height: 200px;
 margin-top: 12px;


}
