/*Versión escritorio*/
  @media only screen and (min-width: 960px){

  body{
  margin: 0;
  padding: 0;
  background-color: #e9ebed;
  font-family: 'Lucida Grande', Tahoma, Segoe UI, San Francisco, Roboto;

  }

#barra {
  height: 43px;
  background-color: #5066ae;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  }

#cap{
  height: 360px;
  background-color: white;
  background-image: url(img/fotoportada.png);
  background-repeat: no-repeat;
  width: 852px;
  border: 1px solid #DDD;
  border-radius: 4px;
  }

#contingut{
  width: 852px;
  height: 2000px;
  margin: 0 auto;
  overflow: hidden;
  }

#contingut h3{
  position: relative;
  color: white;
  top: 240px;
  left: 200px;
  font-family: sans-serif;
  }

#contingut img{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 130px;
  left: 21px;
  }



#menu{
  background-color: #5066ae;
  height: 43px;
  width: 658px;
  float:right;
  padding: 0;
  margin: 0;
  position: relative;
  top: 259px;
  font-family: 'Lucida Grande', Tahoma, Segoe UI, San Francisco, Roboto;
  }

#menu li{
  float: left;
  margin: 0 1px 0 0;
  list-style: none;
  background-color: white;
  display: block;
  height: 43px;
  padding: 0 25px;
  line-height: 43px;
  }

  #menu li:hover{
  background-color: #A5A5A5;
  }

  .esquerra{
  width: 322px;
  float: left;
  }

  #secciones{
    float: left;
    width: 298px;
  }

  #seccion2{
    float: right;
    width: 490px;
  }

  #principal{
    overflow: hidden;
  }

  .esquerra, .dreta{
    background-color: white;
    border-radius: 3px;
    border: solid 1px #DDD;
    margin-top: 12px;
    overflow: hidden;
    font-size: 12px;
    padding: 12px;
    margin-top: 12px;
    }

  .dreta{
    width: 492px;
    }

  ul{
    list-style-type: none;
    }

  #presentacion h2{
    text-indent: 27px;
    height: 25px;
    background-image: url(img/lateral);
    background-repeat: no-repeat;
    background-position: 0 0;
    }

  #presentacion p{
    padding: 0 0 10px 0;
    box-shadow: 0 1px 0 #DDD;
  }


    #presentacion .estudios{
      list-style-image: url(iconetes/icones_estudis.png);
      background-repeat: no-repeat;
      height: 25px;
      }

    #presentacion .domicilio{
      list-style-image: url(iconetes/icones_domicili.png);
      background-repeat: no-repeat;
      height: 25px;
      }

    #presentacion .situacion{
      list-style-image: url(iconetes/icones_sentimental.png);
      background-repeat: no-repeat;
      height: 25px;
      }

    #presentacion .amigos{
      list-style-image: url(iconetes/icones_amics.png);
      background-repeat: no-repeat;
      }

    #secciones h2{
      text-indent: 28px;
      height: 25px;
      background-image: url(img/lateral);
      background-repeat: no-repeat;
      background-position: 0 -24px;
      }

    #amistad h2{
      text-indent: 28px;
      height: 25px;
      background-image: url(img/lateral);
      background-repeat: no-repeat;
      background-position: 0 -48px;
      }

    #sabias h2{
      background-image: url(img/lateral);
      background-repeat: no-repeat;
      background-position: 0 -72px;
      }


    #amistad li{
      width: 99px;
      height: 99px;
      margin: 2px;
      float: left;
      background-size: cover;
      color: white;
      font-size: 14px;
      position: relative;
      }

     #amistad li a:link{
       text-decoration: none;
       color: white;
       position: absolute;
       bottom: 3px;
       left: 6px;
       height: 99px;
       width: 99px;
      }

     #amistad a:visited{
       text-decoration: none;
       color: white;
      }

         #GB{
           background-image: url("https://gbonsoms2019crn.github.io/M08/s2m8uf104_facebook/img/pajaro.jpg");
         }

         #AC {
           background-image: url("https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg");
         }

         #PS {
           background-image: url("https://psanz2019crn.github.io/M08/s2m8uf104_sanz/img/aoperfil.gif");
         }

         #NP {
           background-image: url("https://iprados2019crn.github.io/M08/s2m8uf104_iprados/img/fotoperfil.jpg");
         }

         #OP {
           background-image: url("https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png");
         }

         #SF {
           background-image: url("https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png");
         }

         #SG {
           background-image: url("https://sgarzon2019crn.github.io/M08/s2m8uf104_facebook/img/perfil.jpg");
         }

         #SP {
           background-image: url("https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg");
         }

         #VH {
           background-image: url("https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png");
         }

  #fotos ul{
    background-color: red;
    width: 320px;
    padding-left: 7px;
    margin: 0;
    }

  #fotos li{
    width: 99px;
    height: 99px;
    margin: 2px;
    float: left;
    background-size: cover;
    color: white;
    position: relative;
  }


      #foto1{
        background-image: url(img/foto1.jpeg);
        background-position: -15px;
      }

      #foto2{
        background-image: url(img/large.jpeg);
        background-position: -15px;
      }

      #foto3{
        background-image: url(img/montana.jpg);
        background-position: -15px;
      }

      #foto4{
        background-image: url(img/bicycle.jpg);
        background-position: -15px;
      }

      #foto5{
        background-image: url(img/nature.jpg);
        background-position: -15px;
      }

      #foto6{
        background-image: url(img/wall.jpg);
        background-position: -15px;
      }

      #foto7{
        background-image: url(img/car.jpg);
        background-position: -15px;
      }

      #foto8{
        background-image: url(img/Wallpapers13.jpg);
        background-position: -15px;
      }

      #foto9{
        background-image: url(img/Wallpapers89.jpg);
        background-position: -15px;
      }

    #amistad ul{
      width: 100%;
      padding-left: 6px;
      height:100%;
    }

    #pensando{
      height: 169px;
      padding: 0;
    }

     #uno{
      box-shadow: 0 1px 0 #DDD;
      height: 20px;
      background-color: #E5E5E5;
      margin: 0;
      padding: 0px;
    }

    #uno li{
      display: block;
      font-size: 14px;
      padding: 9px -1px;;
      margin: 0px 5px 0 0px;
      float: left;
      border-left: 2px solid #fff;
      height: 20px;
    }

    #uno{
      padding: 0px;
      margin: 0px;
    }


    #foto{
      background-image: url(iconetes/camara.png);
      text-indent: 30px;
      background-repeat: no-repeat;
      background-position: 10px;
      background-size: 15px;
    }
    #video{
      background-image: url(iconetes/camara.png);
      text-indent: 30px;
      background-repeat: no-repeat;
      background-position: 10px;
      background-size: 15px;
    }

    #crear{
      background-image: url(iconetes/lapiz.png);
      text-indent: 30px;
      background-repeat: no-repeat;
      background-position: 10px;
      background-size: 15px;
    }

    #acontecimiento{
      background-image: url(iconetes/publicacion.png);
      text-indent: 30px;
      background-repeat: no-repeat;
      background-position: 10px;
      background-size: 15px;
      background-color: #E5E5E5;
      width:490px;
    }

    .pregunta{
      width: 483px;
      height: 60px;
      margin-top: -60px;
    }

    #dos{
     height: 48px;
     position: relative;
     margin: 0;
     padding: 10px 15px 0 50px;
    }

    #dos li{
     display: inline-block;
     font-size: 14px;
     padding: 7px;
     margin: 0px;
     border-radius: 20px;
     background-color: #E5E5E5;
    }

    #fotopeque img{
      float: left;
      width: 30px;
      height: 30px;
      top: 20px;
      left: 10px;
      }

      #dos li:hover{
        background-color: #A5A5A5;
      }

      #uno li:hover{
        background-color: #A5A5A5;
      }

    .pregunta{
      padding-left: 50px;
      }

      #fotoyvideo{
      text-indent: 24px;
      background-image: url(iconetes/paisaje.png);
      background-repeat: no-repeat;
      background-position: 4px 3px;
      }

    #etiquetar{
      text-indent: 24px;
      background-image: url(iconetes/usuario.png);
      background-repeat: no-repeat;
      background-position: 4px 3px;
    }

    #sentimiento{
      text-indent: 24px;
      background-image: url(iconetes/emoji.png);
      background-repeat: no-repeat;
      background-position: 4px 3px;
    }

    #comentarios img{
    float: left;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    }

    #texto{
      float: left;
      text-indent: 15px;
    }

    #pie{
    color:grey;
    float: right;
    margin-right: 30px;
    }

    #comentarios ul{
    height: 40px;
    width: 100%;
    overflow: hidden;
    padding: 0 50px;
      border-bottom: 1px solid grey;
    }

    #comentarios h6{
      text-indent: 20px;
      background-image: url(iconetes/like.png);
      background-repeat: no-repeat;
      height: 16px;
      background-position: 0px -4px;
      border-bottom: 1px solid grey;
    }

    #comentarios ul li{
      display: list-item;
      float:left;
      background-repeat: no-repeat;
      margin-left: 30px;
      font-size:15px;
      font-weight: bold;
    }

    #comentarios p{
    clear: both;
    }

    #comentarios #texto{
      color:blue;
    }

    #like{
      list-style-image:url(iconetes/mg.png);
    }

    #comment{
      list-style-image:url(iconetes/comentario.png);
    }

    #comp{
      list-style-image:url(iconetes/flecha.png);
    }

    #puntos{
    list-style-image:none);
    }

    #comentarios ul li:hover{
    background-color: #A5A5A5;
    }

    #comentarios #atardecer_esteve{
      width: 190px;
      height: 310px;
      border-radius: 0;
      padding: 10px;
      margin: -20px 20px 20px;
    }

    .textocomentario{
      display:block;
      background-color: #e9ebed;
      margin-top: 17px;
      border: solid grey 1px;
      border-radius: 24px;
      line-height: 1.3em;
      width: 79%;
      padding: 8px;
      margin-left: 50px;
    }
    }


/*Versión móvil*/

@media only screen and (max-width: 959px){

  body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: 'Lucida Grande', Tahoma, Segoe UI, San Francisco, Roboto;

}


  #barra {
  visibility: hidden;
  }

  #cap{
    height: 254px;
    background-image: url(img/fotoportada.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  #contingut h3{
    width: 100%;
    font-size: 28px;
    font-family: helvetica;
    color: black;
    position: absolute;
    top: 340px;
    text-align: center;
    margin: 0 auto;
  }

  #contingut img{
    width: 162px;
    height: 162px;
    border-radius: 50%;
    margin-top: 150px;
  }

  #principal{
  margin-top:150px;
  padding: 12px;
  }

  #menu{
    visibility: hidden;
  }

  #presentacion {
    box-shadow: 5px 5px 5px grey;
  }

  .dreta{
    width: 100%;
    float: none;
    clear: none;
    padding: 12px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px grey;
  }


  #presentacion .estudios{
    list-style-image: url(iconetes/icones_estudis.png);
    background-repeat: no-repeat;
    height: 25px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  #presentacion .domicilio{
    list-style-image: url(iconetes/icones_domicili.png);
    background-repeat: no-repeat;
    height: 25px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  #presentacion .amigos{
    list-style-image: url(iconetes/icones_amics.png);
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  #secciones li{
   width: 60%;
   list-style: none;
   margin: 0 auto;
   font-size: 20px;
   color: grey;
    }

    #pensando{
      height: 169px;
      padding: 0;
    }

   #amistad, #fotos{
     display: none;
   }

    #uno{
     box-shadow: 0 1px 0 #DDD;
     height: 20px;
     background-color: #E5E5E5;
     margin: 0;
     padding: 0px;
   }

   #uno{
     padding: 0px;
     margin: 0px;
     width: 100%;
   }

   #uno li{
     display: block;
     font-size: 14px;
     padding: 9px -1px;;
     margin: 0px 5px 0 0px;
     float: left;
     border-left: 2px solid #fff;
     height: 20px;
   }

   #crear{
     background-image: url(iconetes/lapiz.png);
     text-indent: 30px;
     background-repeat: no-repeat;
     background-position: 10px;
     background-size: 15px;
   }

   #acontecimiento{
     background-image: url(iconetes/publicacion.png);
     text-indent: 30px;
     background-repeat: no-repeat;
     background-position: 10px;
     background-size: 15px;
     background-color: #E5E5E5;
     float: right;
   }

   #foto{
     background-image: url(iconetes/camara.png);
     text-indent: 30px;
     background-repeat: no-repeat;
     background-position: 10px;
     background-size: 15px;
   }

   .pregunta{
     width: 100%;
     height: 60px;
     position: relative;
     top: 2px;
   }

   #dos{
    height: 48px;
    position: relative;
    margin: 0;
    padding: 10px 15px 0 50px;
    position: relative;
    top: 2px;
   }

   #dos li{
    display: inline-block;
    font-size: 14px;
    padding: 7px;
    margin: 0px;
    border-radius: 20px;
    background-color: #E5E5E5;
   }

   #dos li:hover{
   background-color: #A5A5A5;
   }

   #uno li:hover{
   background-color: #A5A5A5;
   }

   #fotopeque img{
     width: 30px;
     height: 30px;
     margin-top: 40px;
     left: 30px;
     position: absolute;
     z-index: 6000;
   }

   .pregunta{
     padding-left: 50px;
   }

   #fotoyvideo{
   text-indent: 24px;
   background-image: url(iconetes/paisaje.png);
   background-repeat: no-repeat;
   background-position: 4px 3px;
   }

   #etiquetar{
     text-indent: 24px;
     background-image: url(iconetes/usuario.png);
     background-repeat: no-repeat;
     background-position: 4px 3px;
   }

   #sentimiento{
     text-indent: 24px;
     background-image: url(iconetes/emoji.png);
     background-repeat: no-repeat;
     background-position: 4px 3px;
   }

   #puntos{
    list-style-type: none;
   }

   #comentarios #Laura{
   float: left;
   width: 30px;
   height: 30px;
   left: 5px;
   margin-top: 15px;
   }

  #comentarios #Laura{
    float: left;
    width: 30px;
    height: 30px;
    left: 5px;
    margin: 0px;
  }

   #texto{
     float: left;
     text-indent: 15px;
   }

   #pie{
   color:grey;
   float: right;
   margin-right: 30px;
   }

   #comentarios ul{
     height: 40px;
     width: 100%;
     overflow: hidden;
     padding: 0 50px;
     border-bottom: 1px solid grey;
   }

   #comentarios h6{
     text-indent: 20px;
     background-image: url(iconetes/like.png);
     background-repeat: no-repeat;
     height: 16px;
     background-position: 0px -4px;
     border-bottom: 1px solid grey;
   }

   #comentarios #texto{
     color:blue;
   }
   #comentarios p{
   clear: both;
   }

   #comentarios ul li{
     display: list-item;
     float:left;
     background-repeat: no-repeat;
     margin-left: 30px;
     font-size:15px;
     font-weight: bold;
   }


   #like{
     list-style-image:url(iconetes/mg.png);
   }

   #comment{
     list-style-image:url(iconetes/comentario.png);
   }

   #comp{
     list-style-image:url(iconetes/flecha.png);
   }

   #puntos{
   list-style-image:none);
   }

   #comentarios ul li:hover{
   background-color: #A5A5A5;
   }

   #comentarios #atardecer_esteve{
     width: 190px;
     height: 310px;
     border-radius: 0;
     padding: 10px;
     margin: -20px 20px 20px;
   }

   .textocomentario{
     display:block;
     background-color: #e9ebed;
     margin-top: 17px;
     border: solid grey 1px;
     border-radius: 24px;
     line-height: 1.3em;
     width: 79%;
     padding: 8px;
     margin-left: 50px;
   }
}
